<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.senani.posapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UpdateItemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GRNActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ViewItemActivity" />
        <activity android:name=".DailyActivity" />
        <activity android:name=".AddPaymentActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".MonthlyActivity" />
        <activity android:name=".ToOrderActivity" />
        <activity android:name=".PwdActivity"></activity>
    </application>

</manifest>